/* Header */
.header {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url('./images/header.gif') center center no-repeat;
  background-size: cover;
  border: 2px solid var(--pink);
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: var(--white);
  text-shadow: 2px 2px var(--dark-gray);
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  width: 100%;
}

.header h1 {
  font-family: 'Audiowide', cursive;
  font-size: 6vw;
  margin-bottom: 10px;
  color: var(--pink);
  text-shadow: 2px 2px var(--lighter-gray);
}

.header p {
  font-family: 'RobotoMono', monospace;
  font-size: 3vw;
  color: var(--dark-gray);
  text-shadow: 2px 2px var(--lighter-gray);
}

.header-image img {
  display: none;
}

/* Navigation bar */
.navigation-bar {
  background-color: var(--dark-gray);
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  width: 100%;
}

.navigation-bar-logo h1 {
  font-size: 24px;
  color: var(--white);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.navigation-bar-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 50%;
}

.navigation-bar-links li:not(:last-child) {
  margin-right: 20px;
}

.navigation-bar-links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.navigation-bar-links li a:hover {
  color: var(--pink);
}

.active {
  color: var(--pink);
  border-bottom: 2px solid var(--pink);
}

/* Body */
body {
  background-color: var(--dark-gray);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  margin-top: 100px; /* Push content below navigation bar */
}

/* Footer */
.footer {
  background-color: var(--medium-gray);
  color: var(--white);
  text-align: center;
  padding: 20px;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  .header h1 {
    font-size: 8vw;
	}
.header p {
    font-size: 5vw;
  }

.navigation-bar-container {
    flex-direction: column;
    height: auto;
    padding: 10px;
    width: 100%;
  }

.navigation-links li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

.navigation-links li a {
    padding: 10px 0;
    font-size: 14px;
  }

.navigation-bar-links {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .header h1 {
    font-size: 10vw;
  }

.header p {
    font-size: 6vw;
  }

.navigation-links li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

.navigation-links li a {
    padding: 10px 0;
    font-size: 12px;
  }
}
